@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@media only screen and (min-width : 150px) and (max-width : 780px) {
    .search {
        width: 95%;
        margin: 0 auto;

    }

    .icon {
        width: 95%;
        margin: 0 auto;
        margin-left: 210px;
        margin-bottom: 150px;
    }

    .side2 {
        display: block;
        float: right;
        margin-top: -320px;
        margin-bottom: 0 auto;
    }

    .menu {
        position: relative;
        right: 0;
        top: 0
    }

    .nav2 {
        position: relative;
        scroll-margin-right: 10px;
        float: right;
    }

    .nav2-label {
        position: relative;
        float: right;
    }

}

.profA {
    display: flex;
    position: relative;
    float: left;
    top: 17px;
   

}
.search {
    display: flex;
    align-items: center;
    padding: 30px;
    margin-right: 400px;
    position: absolute;
    right: 30px;
    color: #9ca3af;
}

.search>input {
    flex: 1;
    height: 40px;
    font-size: 13px;
    padding-right: 10px;
    width: 600px;
    border-radius: 1vmin;
}

.search>i {
    margin-left: -40px;
}
.side2 p {
    font-size: 12px;
    margin-right: 12px;
}

#name {
    height: 20px;
    width: 20px;
    background: rgb(48, 102, 163);
    border: none;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 5px;
}

h3 {
    background-color: rgb(12, 12, 95);
    color: white;
    font-size: medium;

}

.card {
    margin-left: 50px;
    margin-top: 90px;

}

h5 {
    text-align: center;
}

p {
    margin-left: 40px;
}

.img {
    width: 110px;
    height: 110px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% -50px);
    margin-top: -70px;
    margin-left: 80px;
    border: 3px solid gray;
}

.fa-camera {
    margin-left: 180px;
}

.card-body {
    margin-top: 35px;
}

.form input {
    width: 100%;
    margin-bottom: 20px;
}

.form input[type="text"] {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 15px;
    margin-left: 30px;
    width: 200px;
    margin-right: 30px;
}

.form i {
    position: absolute;
    margin-top: -30px;
    font-size: 20px;
    border: rgb(214, 212, 212);
    border-radius: 200%;
}

h6 {
    margin-left: 40px;

}

.fa-pencil {
    margin-left: 233px;
    outline: none;
}

.fa-plus-circle {
    margin-left: 233px;
}

.fa-id-card {
    position: absolute;
    margin-top: 40px;
    margin-right: 10px;
    font-size: 40px;
}

.hr {
    width: 100%;
}

.nav2 {
    background-color: rgb(176, 215, 240);
    position: relative;
}

.card-title2 {
    margin-top: 15px;
}

.fa-id-card-o,
.fa-sitemap,
.fa-info-circle,
.fa-phone-square,
.fa-ambulance {
    margin-top: -33px;
    padding-left: 10px;
}

.Details,
.information,
.contact {
    margin-bottom: 20px;
    color: lightgray;
    font-size: 15px;
    line-height: 10px;
}

.text {
    color: black;
    line-height: .5px;
    font-size: 13px;
}

.row {
    padding-left: 100px;
    padding-right: 200px;
}

#lock {
    margin-left: 250px;
    margin-top: -26px;
    font-size: 20px;
    color: rgb(80, 77, 77);
}

ul li {
    color: black;
    list-style-type: square;
    margin-left: 50px;
}

.contact input[type="text"] {
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 15px;
    margin-left: 30px;
    width: 200px;

}

.fa-lock {
    float: right;
    margin-top: -10px;
    margin-right: 15px;
}

.h5 {
    border-bottom: solid 1px #ddd;

}

.p {
    font-size: 10px;
}

.information {
    margin-top: -15px;
}

.fa-user-o {
    margin-left: -5px;
}

footer {
    background-color: rgb(12, 12, 70);
    text-align: center;
    font-size: medium;
    color: white;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.nav2 {
    width: 60rem;
    margin-left: 152px;
    margin-top: 40px;
    background-color: rgb(198, 229, 248);
    height: 4rem;
    text-align: center;
    font-size: 12px;
    border: 0px solid;
    border-radius: 5px;
}

.profile label {
    color: #000;
}

.nav2 label {
    margin-top: 20px;
}

.images img {
    border-radius: 50%;
}

.fa-bell-o,
.fa-calendar-o,
.ind {
    position: relative;
    left: 250px;
    bottom: 0px;
}

#dropdown,
#user {
    position: relative;
    left: 870px;
    bottom: 80px;
}

.fa-file {
    margin-left: -130px;
}

#dropdown {
    width: 30px;
    color: white;
}

.menu-bar {
    display: inline;
    background-color: white;
    margin-left: 200px;
}

#dropdown-menu {
    font-size: 12px;
    background-color: white (134, 36, 36);
}

#dropdownMenuLink {
    font-size: 12px;
    background: rgb(221, 221, 221);
    color: black;
}

body {
    color: whitesmoke;
    background-color: white;
    margin: 0;
    padding: 0;
}

