body{
    text-align: center;
    padding-left: 20px;
}
table{
    text-align: center;
    padding-left: 100px;
}
h1{
    text-align: center;
    padding-right: 50px;
}
form{
    text-align: center;
    align-items: center;
    padding-left: 100px;
    
}
button{
    text-align: center;
    align-items: center;
}